@if (items().length === 0) {
<p>{{ 'FAVORITES.EMPTY' | translate }}</p>
} @else {
<section class="grid">
  @for (p of items(); track p._id) {
  <article class="card">
    <img class="thumb" [src]="p.thumbnail" [alt]="p.title" routerLink="/product/{{p._id}}" />

    <div class="body">
      <p class="title" routerLink="/product/{{p._id}}">{{ p.title }}</p>

      <div class="meta">
        <span class="price">{{ p.price.current }} {{ p.price.currency }}</span>
      </div>

      <div class="tags">
        <span class="tag">{{ p.category.name }}</span>
        <span class="tag">{{ p.brand }}</span>
      </div>

      <p class="stock">In stock: {{ p.stock }}</p>

      <button class="btn" (click)="remove(p._id)">{{ 'FAVORITES.REMOVE' | translate }}</button>
    </div>
  </article>
  }
</section>
}